.fda_section_product_tile
{
    position: relative;
    padding-bottom: 2px !important;;
}

.fda_section_product_tile:nth-child(odd)
{
    background: rgba(0,0,0,0.02);
}


.fda_section_row
{
    margin-top: 20px;
    flex-wrap: nowrap;
}

.fda_section_row .section_product_tile
{
    max-width: 272px;
}

.fda_section_row div > span
{
    display: block;
}
.roww{
    margin-right: 50%;
    transform: translateX(50%);
}
#name , #userCode{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    margin-top: 15px;
}
#userCode{
    color: #E83350;
    font-size: 15px;
}
.fda_section_row img
{
    position: relative;
    width: 180px;
    border-radius: 100%;
    padding: 0;
    background-color: rgba(0,0,0,0.05);
    box-shadow: inset 0 0 25px rgba(255,255,255,0.15),
                inset 0 4px 0 rgba(0,0,0,0.05),
                inset 0 -4px 0 rgba(0,0,0,0.05),
                inset 0 10px 10px rgba(0,0,0,0.09),
                0 1px 0px rgba(0,0,0,0.1),
                0 8px 7px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.1);
}
.w-full {
    width: 100%;
}
.resize-none {
    resize: none;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.text-base {
    font-size: 1rem;
}
.h-32 {
    height: 8rem;
}
.block {
    display: block;
}
.border {
    border-width: 1px;
}
.rounded {
    border-radius: .25rem;
}
.border-gray-400 {
    --border-opacity: 1;
    border-color: #cbd5e0;
    border-color: rgba(203,213,224,var(--border-opacity));
}
.bg-gray-100 {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247,250,252,var(--bg-opacity));
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
textarea {
    resize: vertical;
}
textarea {
    overflow: auto;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
textarea {
    overflow: auto;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.text-gray-700 {
    --text-opacity: 1;
    color: #4a5568;
    color: rgba(74,85,104,var(--text-opacity));
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.ml-4 {
    margin-left: 1rem;
}
.text-lg {
    font-size: 1.125rem;
}
.inline-flex {
    display: inline-flex;
}
.border-0 {
    border-width: 0;
}
.rounded {
    border-radius: .25rem;
}
.bg-gray-200 {
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237,242,247,var(--bg-opacity));
}

button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[role=button], button {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
.text-white {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.text-lg {
    font-size: 1.125rem;
}
.inline-flex {
    display: inline-flex;
}
.border-0 {
    border-width: 0;
}
.rounded {
    border-radius: .25rem;
}
.bg-red-500 {
    --bg-opacity: 1;
    background-color: #f56565;
    background-color: rgba(245,101,101,var(--bg-opacity));
}

.text-white {
    color: #ffffff;
}
.text-white {
    color: #ffffff;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
.p-3 {
    padding: .75rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.items-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}
.container {
    width: 100%;
}
.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.border-b {
    border-bottom-width: 1px;
}
.border-b-2 {
    border-bottom-width: 2px;
}
.border-red-500 {
    --border-opacity: 1;
    border-color: #f56565;
    border-color: rgba(245,101,101,var(--border-opacity));
}
.w-full {
    width: 100%;
}
.text-gray-700 {
    --text-opacity: 1;
    color: #4a5568;
    color: rgba(74,85,104,var(--text-opacity));
}
.px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
}
.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}
.mr-3 {
    margin-right: .75rem;
}
.leading-tight {
    line-height: 1.25;
}
.border-none {
    border-style: none;
}
.bg-transparent {
    background-color: transparent;
}
/*.appearance-none {*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/
/*}*/
.noti {
    position: relative;
}
.-mb-10 {
    margin-bottom: 0.5rem;
}
.-mt-4 {
    margin-top: 3px;
}
.-mx-4 {
    margin-left: 1rem;
    margin-right: -1rem;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex {
    display: flex;
}
.w-16 {
    width: 4rem;
}
.text-red-500 {
    --text-opacity: 1;
    color: #f56565;
    color: rgba(245,101,101,var(--text-opacity));
}
.mb-4 {
    margin-bottom: 1rem;
}
.h-16 {
    height: 4rem;
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.inline-flex {
    display: inline-flex;
}
.rounded-full {
    border-radius: 9999px;
}
*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}
.pl-6 {
    padding-left: 1.5rem;
}
.flex-grow {
    flex-grow: 1;
}
*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}
user agent stylesheet
div {
    display: block;
}
.text-gray-700 {
    --text-opacity: 1;
    color: #4a5568;
    color: rgba(74,85,104,var(--text-opacity));
}
.text-gray-900 {
    --text-opacity: 1;
    color: #1a202c;
    color: rgba(26,32,44,var(--text-opacity));
}
.mb-2 {
    margin-bottom: .5rem;
}
.text-lg {
    font-size: 1.5rem;;
}
.font-medium {
    font-weight: 500;
}
.text-gray-600 {
    --text-opacity: 1;
    color: #718096;
    color: rgba(113,128,150,var(--text-opacity));
}
.leading-relaxed {
    line-height: 0.625;
}
.text-red-700 {
    --text-opacity: 1;
    color: #f56565;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.font-semibold {
    font-weight: normal;
}

.border {
    border-width: 1px;
}
.rounded {
    border-radius: .25rem;
}
.border-red-500 {
    --border-opacity: 1;
    border-color: #f56565;
    border-color: rgba(245,101,101,var(--border-opacity));
}
.bg-transparent {
    background-color: transparent;
}